body {
    background-image: url("../images/mario.png");
}
.gameHolder {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left:100px;
    margin-right: 100px;
    padding: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 5px;
    text-align: center;
    background-color: #7DC698;
    
}
